.main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    display: flexbox;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg,#61fbb6,#5abaff);
}
.title{
    padding: 20px;
    text-align: center;
    color: black;
}
.card1{
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    position: relative;
    width: 310px;
    height: 220px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0,0,0.4);
    transition:  all ease 0.6s;
}
.col{
    margin-top: 50px;
}
.card1:hover{
    height: 350px;

}
.image{
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background:#fff;
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0, 0,0,0.45);
    overflow: hidden;
    transition:  all ease 0.5s;

}
.card1:hover .image{
    width: 250px;
    height: 250px;
}

.image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card1 .content
{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.card1 .content .details{
    padding: 20px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
}
.card1 .content .details h3{
    font-size: 1.25em;
    font-weight: 600;
    color: #555;
    line-height: 1.2em;
}
.card1 .content .details h3 span{
    font-size: 0.75em;
    font-weight: 500;
    opacity: 0.6;
    
}
a{
    text-decoration: none;
    font-weight: 600;
    color: black;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

  
  
  /* 2 columns (600px) */
  
  @media only screen and (min-width:600px) {
    .container .col {
      float: left;
      width: 50%;
    }
  }
  
  
  /* 3 columns (768px) */
  
  @media only screen and (min-width:768px) {
    .container .col {
      width: 33.333%;
    }
  }
  
  
  /* 4 columns (992px) */
  
  @media only screen and (min-width:992px) {
    .container .col {
      width: 25%;
    }
  }